<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_input/cr_input.html">
<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/cr_elements/policy/cr_policy_pref_behavior.html">
<link rel="import" href="chrome://resources/cr_elements/policy/cr_policy_pref_indicator.html">
<link rel="import" href="../controls/pref_control_behavior.html">
<link rel="import" href="appearance_browser_proxy.html">

<dom-module id="home-url-input">
  <template>
    <style>
      :host {
        cursor: auto;
        display: block;
        width: 100%;
      }

      #outerDiv {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      cr-input {
        width: 200px;
      }
    </style>
    <div id="outerDiv" class="settings-row">
      <cr-input id="input" value="{{value}}" error-message="$i18n{notValid}"
          placeholder="$i18n{enterCustomWebAddress}"
          on-change="onChange_" on-keydown="onKeydown_" on-input="validate_"
          invalid="{{invalid}}" tab-index$="[[getTabindex_(canTab)]]"
          disabled="[[isDisabled_(disabled, pref.*)]]"
          on-keyup="stopKeyEventPropagation_"
          on-keypress="stopKeyEventPropagation_">
      </cr-input>
      <template is="dom-if" if="[[hasPrefPolicyIndicator(pref.*)]]">
        <cr-policy-pref-indicator pref="[[pref]]" icon-aria-label="[[label]]">
        </cr-policy-pref-indicator>
      </template>
    </div>
  </template>
  <script src="home_url_input.js"></script>
</dom-module>
