<!-- Copyright 2016 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/html/md_select_css.html">

<!--
  Offline UI for the AD Domain joining and User authentication.

  Example:
      <offline-ad-login show-machine-input> </offline-ad-login>

  Attributes:
    'isDomainJoin' - Whether the screen is for domain join. For the join it
                     contains some specific elements (e.g. machine name input).
    'realm' - The AD realm the device is managed by.
    'userRealm' - Autocomplete realm for the user input.
    'userNameLabel' - Label for the user input.
    'disabled' - Whether the UI disabled. Could be used to disable the UI
                 during blocking IO operations.
    'adWelcomeMessage' - Welcome message on top of the UI.

  Events:
    'authCompleted' - Fired when user enters login and password. Fires with an
                      argument |credentials| which contains:
                      |credentials| = { 'machineName': <machine name input>,
                                        'distinguished_name': <orgUnitInput>,
                                        (e.g. "OU=Computers,DC=example,DC=com")
                                        'encryption_types': Number value of
                                        chosen encryption types
                                        'username': <username> (UPN),
                                        'password': <typed password> }
  Methods:
    'focus' - Focuses current input (user input or password input).
    'setUserMachine' - Accepts arguments |user| and |machineName|. Both are
                       optional. If user passed, the password input would be
                       invalidated.
-->
<dom-module id="offline-ad-login">
  <link rel="stylesheet" href="offline_gaia.css">
  <link rel="stylesheet" href="oobe_flex_layout.css">
  <template>
    <style include="md-select"></style>
    <gaia-card id="gaiaCard" class="fit">
      <div class="header flex vertical layout end-justified start">
        <h1 id="welcomeMsg" class="welcome-message">[[adWelcomeMessage]]
        </h1>
      </div>
      <div class="footer flex vertical layout justified">
        <gaia-input-form on-submit="onSubmit_"
            disabled="[[disabled]]"
            i18n-values="button-text:offlineLoginNextBtn">
          <gaia-input id="machineNameInput" required
              hidden="[[!isDomainJoin]]" error="[[machineNameError]]"
              i18n-values="label:oauthEnrollAdMachineNameInput">
          </gaia-input>
          <gaia-input id="userInput" type="email" required
              domain="[[userRealm]]" label="[[userNameLabel]]"
              i18n-values="error:adLoginInvalidUsername">
          </gaia-input>
          <gaia-input id="passwordInput" type="password" required
              i18n-values="error:adLoginInvalidPassword;
                           label:adLoginPassword">
          </gaia-input>
          <gaia-button id="moreOptionsBtn" type="link"
              on-tap="onMoreOptionsClicked_" hidden="[[!isDomainJoin]]">
            $i18n{adJoinMoreOptions}
          </gaia-button>
        </gaia-input-form>
      </div>
    </gaia-card>

    <cr-dialog id="moreOptionsDlg" on-close="onMoreOptionsClosed_">
      <div slot="title">
        $i18n{adJoinMoreOptions}
      </div>
      <div slot="body">
        <gaia-input id="orgUnitInput" label="$i18n{adJoinOrgUnit}" required>
        </gaia-input>
      </div>
      <div slot="body">
        <div class="flex layout center horizontal justified">
          <div class="layout vertical center-justified">
            $i18n{selectEncryption}
          </div>
          <select id="encryptionList" aria-label$="$i18{selectEncryption}"
              class="md-select">
          </select>
        </div>
        <div class="flex layout center horizontal end-justified">
          <iron-icon id="encryptionWarningIcon" icon="warning" hidden>
          </iron-icon>
          <div id="encryptionSubtitle" class="advanced-option-subtitle">
          </div>
        </div>
      </div>
      <div slot="button-container">
        <paper-button autofocus on-tap="onMoreOptionsCancelTap_"
            class="action-button">
          $i18n{adJoinCancel}
        </paper-button>
        <paper-button autofocus on-tap="onMoreOptionsConfirmTap_"
            class="action-button">
          $i18n{adJoinConfirm}
        </paper-button>
      </div>
    </cr-dialog>
  </template>
</dom-module>
