<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button-light.html">
<link rel="import" href="../settings_shared_css.html">
<link rel="import" href="site_settings_behavior.html">

<dom-module id="site-entry">
  <template>
    <style include="settings-shared"></style>
    <div class="settings-box list-item" on-click="onOriginTap_"
        actionable>
      <div class="favicon-image" style$="[[computeSiteIcon(site)]]">
      </div>
      <div class="middle text-elide" id="displayName">
        [[site]]
      </div>
      <paper-icon-button-light class="subpage-arrow">
        <button aria-label$="[[site]]"
            aria-describedby="displayName"></button>
      </paper-icon-button-light>
    </div>
  </template>
  <script src="site_entry.js"></script>
</dom-module>
