<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/shared_vars_css.html">
<link rel="import" href="../animation/animation.html">

<dom-module id="settings-section">
  <template>
    <style>
      :host {
        -webkit-margin-end: 3px;
        -webkit-margin-start: 3px;
        display: flex;
        flex-direction: column;
        /* Margin so the box-shadow isn't clipped during animations. */
        position: relative;
      }

      #header {
        margin-bottom: 12px;
      }

      #header .title {
        @apply --cr-section-text;
        margin-bottom: 0;
        margin-top: var(--settings-page-vertical-margin);
      }

      #card {
        @apply --cr-card-elevation;
        background-color: white;
        border-radius: var(--cr-card-border-radius);
        flex: 1;
      }

      :host(.expanded) #card {
        border-radius: 0;
      }

      :host(.expanding) #card,
      :host(.collapsing) #card,
      :host(.expanded) #card {
        @apply --cr-card-elevation;
        overflow: hidden;
        /* A stacking context constrains sliding sub-pages to the card. */
        z-index: 0;
      }

      :host(:not(.expanding):not(.expanded)) #card {
        /* Keep the fading-out neon-animatable inside the card. */
        position: relative;
      }

      :host(.expanded) #header {
        display: none;
      }

      :host([hidden-by-search]) {
        display: none;
      }
    </style>
    <div id="header">
      <h2 class="title"
          aria-hidden$="[[getTitleHiddenStatus_(pageTitle)]]">[[pageTitle]]</h2>
    </div>
    <div id="card">
      <slot></slot>
    </div>
  </template>
  <script src="settings_section.js"></script>
</dom-module>
