<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_dialog/cr_dialog.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="../i18n_setup.html">
<link rel="import" href="../settings_shared_css.html">
<link rel="import" href="startup_urls_page_browser_proxy.html">

<dom-module id="settings-startup-url-dialog">
  <template>
    <style include="settings-shared"></style>
    <cr-dialog id="dialog" close-text="$i18n{close}">
      <div slot="title">[[dialogTitle_]]</div>
      <div slot="body">
        <paper-input always-float-label id="url" label="$i18n{onStartupSiteUrl}"
            value="{{url_}}" on-input="validate_" spellcheck="false"
            maxlength="[[urlLimit_]]" invalid="[[error_]]"
            char-counter="[[showCharCounter_(error_)]]" autofocus
            error-message="[[errorMessage_('$i18nPolymer{onStartupInvalidUrl}',
                '$i18nPolymer{onStartupUrlTooLong}', error_)]]">
        </paper-input>
      </div>
      <div slot="button-container">
        <paper-button class="cancel-button" on-click="onCancelTap_"
            id="cancel">$i18n{cancel}</paper-button>
        <paper-button id="actionButton" class="action-button"
            on-click="onActionButtonTap_">[[actionButtonText_]]</paper-button>
      </div>
    </cr-dialog>
  </template>
  <script src="startup_url_dialog.js"></script>
</dom-module>
