<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_dialog/cr_dialog.html">
<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/md_select_css.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-textarea.html">
<link rel="import" href="../settings_shared_css.html">
<link rel="import" href="../settings_vars_css.html">

<dom-module id="settings-address-edit-dialog">
  <template>
    <style include="settings-shared md-select">
      :host {
        --iron-autogrow-textarea: {
          box-sizing: border-box;
          padding: 0;
        };
      }

      .address-row {
        display: flex;
      }

      .address-column {
        -webkit-margin-end: 16px;
        margin-bottom: 8px;
        width: calc((var(--settings-input-max-width) - 16px) / 2);
      }

      #select-row {
        display: block;
        /* Fix issue with focus animation making labels wiggle. */
        transform: translate3d(0, 0, 0);
      }

      .md-select {
        --md-select-width: var(--settings-input-max-width);
      }

      #select-label {
        /* Mimic other paper-input floating labels. */
        color: var(--light-theme-secondary-color);
        transform: scale(0.75);
        transform-origin: left;
        width: 133%;
        @apply --paper-input-container-label-floating;
      }

      :host-context([dir=rtl]) #select-label {
        transform-origin: right;
      }

      .long {
        width: var(--settings-input-max-width);
      }

      #saveButton {
        -webkit-margin-start: 8px;
      }

      #dialog {
        --cr-dialog-body-container: {
          max-height: 450px;
        };
      }

      @media all and (max-height: 714px) {
        #dialog {
          --cr-dialog-body-container: {
            max-height: 270px;
          };
        }
      }

      paper-textarea {
        /**
         * Workaround for iron-autogrow-textarea's display:inline-block creating
         * too much vertical space than intended.
         */
        --layout-relative : {
          line-height: 1;
        };
        /* Fix issue with focus animation making labels wiggle. */
        transform: translate3d(0, 0, 0);
      }
    </style>
    <cr-dialog id="dialog" close-text="$i18n{close}">
      <div slot="title">[[title_]]</div>
      <div slot="body">
        <template is="dom-repeat" items="[[addressWrapper_]]">
          <div class="address-row">
            <template is="dom-repeat" items="[[item]]">
              <template is="dom-if" if="[[item.isTextArea]]">
                <paper-textarea label="[[item.component.fieldName]]"
                    value="{{item.value}}" on-value-changed="updateCanSave_"
                    class$="address-column [[long_(item)]]" always-float-label
                    autofocus>
                </paper-textarea>
              </template>
              <template is="dom-if" if="[[!item.isTextArea]]">
                <paper-input type="text" label="[[item.component.fieldName]]"
                    always-float-label autofocus value="{{item.value}}"
                    on-value-changed="updateCanSave_"
                    class$="address-column [[long_(item)]]">
                </paper-input>
              </template>
            </template>
          </div>
        </template>
        <div id="select-row" class="address-row">
          <div id="select-label">$i18n{addressCountry}</div>
          <select class="md-select" aria-labelledby="select-label"
              value="[[countryCode_]]" on-change="onCountryChange_">
            <option value=""></option>
            <template is="dom-repeat" items="[[countries_]]">
              <option value="[[getCode_(item)]]"
                  disabled="[[isDivision_(item)]]">
                [[getName_(item)]]
              </option>
            </template>
          </select>
        </div>
        <div class="address-row">
          <paper-input id="phoneInput" type="text" label="$i18n{addressPhone}"
              always-float-label class="address-column"
              on-value-changed="updateCanSave_" value="{{phoneNumber_}}">
          </paper-input>
          <paper-input id="emailInput" type="text" label="$i18n{addressEmail}"
              on-value-changed="updateCanSave_" always-float-label
              class="address-column long" value="{{email_}}">
          </paper-input>
        </div>
      </div>
      <div slot="button-container">
        <paper-button id="cancelButton" class="cancel-button"
            on-click="onCancelTap_">
          $i18n{cancel}
        </paper-button>
        <paper-button id="saveButton" class="action-button"
            disabled="[[!canSave_]]" on-click="onSaveButtonTap_">
          $i18n{save}
        </paper-button>
      </div>
    </cr-dialog>
  </template>
  <script src="address_edit_dialog.js"></script>
</dom-module>
