<dom-module id="shared-styles">
  <template>
    <style>
      :root {
        --action-button: {
          border-radius: 2px;
          line-height: 20px;
          margin: 0;
          min-width: 52px;
          padding: 6px 16px;
        };
        --error-color: var(--google-red-700);
        --page-width: 624px;
        --primary-text-color: var(--paper-grey-800);
        --title-icon-color: var(--paper-grey-500);
        --user-manager-separator-line: 1px solid rgba(0, 0, 0, .12);
      }

      a,
      a:active,
      a:hover,
      a:visited {
        color: var(--google-blue-700);
        cursor: pointer;
        text-decoration: none;
      }

      paper-button.action {
        @apply --action-button;
      }

      paper-button.action.primary {
        --paper-button: {
          background: var(--google-blue-500);
          color: white;
          font-weight: 500;
        };
        --paper-button-flat-keyboard-focus: {
          background: rgb(58, 117, 215);
        };
        --paper-button-disabled: {
          background: var(--paper-grey-300);
          color: var(--paper-grey-500);
        };
      }

      paper-button.action.secondary {
        --paper-button: {
          color: var(--paper-grey-600);
          font-weight: 500;
        };
        --paper-button-flat-keyboard-focus: {
          background: rgba(0, 0, 0, .12);
        };
      }

      paper-button.action + paper-button.action {
        -webkit-margin-start: 8px;
      }

      .product-logo {
        content: -webkit-image-set(
            url(../../../app/theme/default_100_percent/%DISTRIBUTION%/product_logo_name_22.png) 1x,
            url(../../../app/theme/default_200_percent/%DISTRIBUTION%/product_logo_name_22.png) 2x);
        height: 22px;
      }
    </style>
  </template>
</dom-module>
