<link rel="import" href="chrome://resources/html/md_select_css.html">
<link rel="import" href="../settings_shared_css.html">
<link rel="import" href="../settings_vars_css.html">

<!-- Common styles for CUPS printer settings. -->
<dom-module id="cups-printer-shared">
  <template>
    <style include="settings-shared md-select">
      [slot='dialog-body'] .settings-box {
        border-top: none;
        margin-bottom: 10px;
      }

      [slot='dialog-body'] .settings-box .two-line {
        min-height: 72px;
      }

      [slot='dialog-body'] .settings-box .start .label {
        color: var(--google-grey-700);
      }

      [slot='dialog-body'] .settings-box paper-input {
        --paper-input-container-input: {
          font-size: inherit;
        };
        width: 270px;
      }

      [slot='dialog-body'] .settings-box .md-select {
        margin-top: 8px;
        width: 270px;
      }

      [slot='dialog-body'] .settings-box .printer-name-input {
        width: 450px;
      }

      [slot='dialog-body'] .settings-box .browse-file-input {
        --paper-input-container-input: {
          border: 1px solid lightgray;
          font-size: inherit;
        };
        --paper-input-container-underline: {
          display: none;
        };
        --paper-input-container-underline-focus: {
          display: none;
        };
        --paper-input-suffix: {
          font-size: inherit;
        };
        width: 340px;
      }

      [slot='dialog-body'] .settings-box .browse-button {
        -webkit-margin-start: 5px;
        color: black;
      }

      [slot='dialog-body'] .last {
        margin-top: 20px;
      }

      [slot='dialog-body'] .center {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 100%;
      }

      [slot='dialog-buttons'] {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .list-item {
        background: none;
        border: none;
        box-sizing: border-box;
        color: var(--paper-grey-800);
        font: inherit;
        min-height: 32px;
        padding: 0 24px;
        text-align: start;
        width: 100%;
        @apply --settings-actionable;
      }

      .list-item:focus {
        background-color: var(--paper-grey-300);
        outline: none;
      }

      #search input[type='search'] {
        @apply --paper-input-container-shared-input-style;
        font: inherit;
      }
    </style>
  </template>
</dom-module>
